.myContainer {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  height: 100vh;
  margin: auto;
}

.myCalDiv {
  background-color: black;
}
.myButton {
  height: 75px;
  width: 75px;
  border: none;
  margin-bottom: 1.5%;
  background-color: #e3e4d7;
  color: black;
}

.myButton:last-child {
  background-color: #df974c;
}

.myButton:hover {
  background-color: #edeee4;
}

.myButton:last-child:hover {
  background-color: #e7ac6d;
}

.myButton:active {
  background-color: black;
}

.answerBox {
  background-color: black;
  width: 100%;
  height: 60px;
  text-align: right;
  padding-top: 20px;
  padding-right: 20px;
  color: white;
}

.divZero {
  width: 235px;
}

.cButton {
  width: 155px;
}
